<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shiyuan.sharingbaseontimemode.mapper.ItemInfoMapper">
    <resultMap id="BaseResultMap" type="com.shiyuan.sharingbaseontimemode.entity.ItemInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="topic_id" property="topicId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.shiyuan.sharingbaseontimemode.entity.ItemInfo" extends="BaseResultMap">
        <result column="img_bin" property="imgBin" jdbcType="LONGVARBINARY"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , topic_id, name, img_url, create_time, update_time, remark
    </sql>
    <sql id="Blob_Column_List">
        img_bin
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from item_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from item_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.shiyuan.sharingbaseontimemode.entity.ItemInfo">
        insert into item_info (id, topic_id, name,
                               img_url, create_time, update_time,
                               remark, img_bin)
        values (#{id,jdbcType=BIGINT}, #{topicId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
                #{imgUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
                #{remark,jdbcType=VARCHAR}, #{imgBin,jdbcType=LONGVARBINARY})
    </insert>
    <insert id="insertSelective" parameterType="com.shiyuan.sharingbaseontimemode.entity.ItemInfo">
        insert into item_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="topicId != null">
                topic_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="imgBin != null">
                img_bin,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="topicId != null">
                #{topicId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="imgBin != null">
                #{imgBin,jdbcType=LONGVARBINARY},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shiyuan.sharingbaseontimemode.entity.ItemInfo">
        update item_info
        <set>
            <if test="topicId != null">
                topic_id = #{topicId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="imgBin != null">
                img_bin = #{imgBin,jdbcType=LONGVARBINARY},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.shiyuan.sharingbaseontimemode.entity.ItemInfo">
        update item_info
        set topic_id    = #{topicId,jdbcType=INTEGER},
            name        = #{name,jdbcType=VARCHAR},
            img_url     = #{imgUrl,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            remark      = #{remark,jdbcType=VARCHAR},
            img_bin     = #{imgBin,jdbcType=LONGVARBINARY}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shiyuan.sharingbaseontimemode.entity.ItemInfo">
        update item_info
        set topic_id    = #{topicId,jdbcType=INTEGER},
            name        = #{name,jdbcType=VARCHAR},
            img_url     = #{imgUrl,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            remark      = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>